@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --display-font-family: 'Bebas Neue', Impact, Arial, sans-serif;
    --mono-font-family: "Source Code Pro", Consolas, Monaco, "Courier New", monospace;
    --border: 1px solid black;
    --color-red-pastel: #FF6D6A;
    --color-orange-pastel: #EFBE7D;
    --color-yellow-pastel: #E9EC6B;
    --color-blue-pastel: #8BD3E6;
    --color-pink-pastel: #E9CDD0;
    --color-purple-pastel: #B1A2CA;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    max-width: 1080px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--mono-font-family);
}
h1 {
    font-family: var(--display-font-family);
}
button {
    font-family: var(--mono-font-family);
    padding: 0.5rem 1rem;
    border: var(--border);
    background-color: var(--color-red-pastel);
    transition: all 0.1s linear;
    text-align: left;
}
/* Wrap buttons in a div.button-wrapper element to prevent bouncing */
.button-wrapper {
    display: inline-block;
}
.button-wrapper:hover button { 
    cursor: pointer;
    transform: translate(5px, -5px);
    box-shadow: -5px 5px black;
}
.button-wrapper:active button {
    transform: none;
    box-shadow: none;
}
input {
    border: var(--border);
    background: white;
    padding: 10px 20px;
    font-family: var(--mono-font-family);
    text-align: center;
}
video {
    border: var(--border);
    background-color: gray;
    background-image: url( 'icons/videocam_off_FILL0_wght400_GRAD0_opsz48.svg' );
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGIN PAGE ================== */
.login-form {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -8px 8px black;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.username {
    width: 100%;
}

/* NAV BAR ===================== */
nav {
    max-width: 90vw;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
nav li {
    padding: 10px;
}
nav li.right {
    margin-left: auto;
}
.logo {
    font-family: var(--display-font-family);
    font-size: 2.5rem;
}
.welcome-username {
    font-family: var(--display-font-family);
    font-size: 1.5rem;
}
.logout {
    background-color: var(--color-orange-pastel);
}

/* MEME RENDERING ============== */
.all-memes-container {
    overflow: auto;
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 20px;
    max-width: 100vw;
    width: 100vw;
    background-color: white;

    /* fill the entire space between nav bar
       and 'Create Meme' button */
    flex-grow: 1; 

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.meme-container {
    overflow: hidden;
    border: var(--border);
    border-radius: 5px;
    box-shadow: -8px 8px black;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.1s linear;
}
.meme-container-wrapper:hover .meme-container {
    transform: translate(8px, -8px);
    box-shadow: -16px 16px black;
}
.meme-info-container {
    width: 100%;
    border-top: 1px dashed black;
    text-align: center;
    padding: 5px;
}
.meme-container-wrapper:nth-child(6n + 1) .meme-info-container{
    background-color: var(--color-red-pastel);
}
.meme-container-wrapper:nth-child(6n + 2) .meme-info-container {
    background-color: var(--color-orange-pastel);
}
.meme-container-wrapper:nth-child(6n + 3) .meme-info-container {
    background-color: var(--color-yellow-pastel);
}
.meme-container-wrapper:nth-child(6n + 4) .meme-info-container {
    background-color: var(--color-blue-pastel);
}
.meme-container-wrapper:nth-child(6n + 5) .meme-info-container {
    background-color: var(--color-pink-pastel);
}
.meme-container-wrapper:nth-child(6n) .meme-info-container {
    background-color: var(--color-purple-pastel);
}
.meme-img {
    display: block;
    width: 250px;
    margin: 10px;
    border: var(--border);
}
.meme-info-username {
    font-family: var(--display-font-family);
    font-size: 1.5rem;
}

/* CREATE MEME ================== */
.create-meme {
    margin: 20px auto;
    font-family: var(--display-font-family);
    font-size: 2rem;
}
.create-meme-container {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);

    width: 100vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-image: radial-gradient(circle, #444 1px, white 1px);
    background-size: 20px 20px;
    transition: all 0.4s linear;
}
.create-meme-container.offscreen {
    transform: translateY(100vh);
}
.caption {
    width: 400px;
    font-family: var(--display-font-family);
    font-size: 2rem;
}
.submit {
    background-color: var(--color-purple-pastel);
}
.cancel {
    background-color: var(--color-blue-pastel);
}

/* ANIMATED TEXT ================ */
.animated-text {
    font-size: 80px;
}
.animated-letter {
    display: inline-block;
    animation: 1s wavytext backwards ease-in-out infinite;
}
@keyframes wavytext {
    0% { transform: translateY(0px); }
    50%{ transform: translateY(-20px); }
}